<mat-card>
  <mat-card-title>
    <h2>{{collegueForm.pseudo}}</h2>
  </mat-card-title>
  <form #valid="ngForm" (ngSubmit)="submit(collegueForm)">
    <p>Matricules : <p><select [(ngModel)]="collegueForm.matricule" #matricule="ngModel" required name="matricule" id="matricule">
          <option *ngFor="let matricule of matricules" [value]="matricule">{{matricule}}</option>
        </select>
<!-- {{pseudo.valid}} -->
        <label>Pseudo : </label><input name="pseudo" [(ngModel)]="collegueForm.pseudo" #pseudo="ngModel" required minlength="2">
        <label>URL Image : </label><input name="imageUrl" [(ngModel)]="collegueForm.imageUrl">
        <button type="submit" [disabled]="!valid.valid">Envoyer</button>
  </form>
  {{collegueForm | json}}
</mat-card>
{{messageError}}
